* {
    box-sizing: border-box;
    margin: 0px;
}

/* start  heading section */

.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 52, 52);
    color: #110d0d;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.97vw;
    align-items: center;
    padding-top: 10px;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    text-align: center;
    color: #110d0d;
    list-style: none;
    transition: transform 0.2s ease;
    font-weight: 500;
}

.header li {
    cursor: pointer;
}

.header img {
    width: 4.3vw;
    height: 4.3vw;

}

li:hover {
    color: rgb(19, 220, 255);



}

.search_form {
    display: flex;
    align-items: center;
}

.search_input {
    padding: 0.54vw;
    font-size: 0.86vw;
    border: 0.054vw solid #ccc;
    width: 10vw;
    border-radius: 0.22vw;
    outline: none;
}

.search_button {
    background-color: transparent;
    border: none;
    padding: 0.54vw;
    cursor: pointer;
}

.search_button img {
    width: 1.07vw;
    height: 1.07vw;
}

/* Header section end */

/* Section one start  */
.section_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 10vw;
    width: 80vw;
}

.media_txt {
    margin: auto 18.5vw auto auto;

}

.media_txt .txt_title {
    font-size: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    text-transform: capitalize;

}

.media_txt .txt_info {
    font-size: 1.6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    margin: 1.07vw auto auto 1.6vw;

}

.section_1 .sec_1_pic img {
    width: 29.5vw;
    border-radius: 1.07vw;
    box-shadow: 0px 0px 1.6vw rgb(181, 181, 181);


}

.v_i_s_box {
    background-color: #292E3B;
    height: 34.85vw;
    width: 99.23vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 0px 5.4vw;
    box-shadow: 0px 0.54vw 0.54vw #CCC;
}

.v_i_s_box .v_i_s_img img {
    height: 32.17vw;
    margin-left: 4.3vw;
    border-radius: 10px;
    box-shadow: 0px 0.43vw 1.07vw rgba(119, 194, 254, 0.3);
    transition: transform 0.5s ease;
}

.v_i_s_box .v_i_s_img img:hover {
    box-shadow: 0px 0px 0.804vw rgb(255, 255, 255);
    transform: scale(1.02);

}

.v_i_s_box .v_i_s_txt {
    height: 32.17vw;
    width: 30vw;
    margin-top: 10%;

}

.v_i_s_box .v_i_s_txt .txt_v_i_s_txt {
    font-size: 1.6vw;
    color: aliceblue;
    margin: 1.07vw;
}

.v_i_s_box .v_i_s_txt .txt_v_i_s_social {
    display: flex;
    justify-content: center;
}

.v_i_s_box .v_i_s_txt .txt_v_i_s_social a img {
    width: 3.3vw;
    border-radius: 10px;
    margin: 20px 2.68vw;
    transition: transform 0.5s ease;

}

.v_i_s_box .v_i_s_txt .txt_v_i_s_social a img:hover {
    transform: scale(1.12);
    box-shadow: 0px 0px 0.204vw rgb(255, 255, 255);


}

hr {
    width: 20vw;
    border: none;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.537);
    margin: 140px auto auto;
}


.d_tracks_box,
.a_tracks_box {
    margin-right: 10vw;
    margin-left: 10vw;
    transition: transform 0.6s ease;
}

.d_tracks_txt,
.a_tracks_txt {
    text-align: center;
    margin: 50px auto;
    font-size: 3vw;
}

.d_tracks_content,
.a_tracks_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 10vw;
}

.d_tracks_content .d_tracks_content_pic,
.a_tracks_content .a_tracks_content_pic {
    margin: 20px auto auto;
    max-width: 23vw;
    transition: transform 0.5s ease;


}

.d_tracks_content .d_tracks_content_pic:hover,
.a_tracks_content .a_tracks_content_pic:hover {
    transform: scale(1.02);
}


.d_tracks_content .d_tracks_content_pic img,
.a_tracks_content .a_tracks_content_pic img {
    border-radius: 20px;
    width: 23vw;
    height: 23vw;

}

.d_tracks_content .d_tracks_content_pic {
    font-size: 1.6vw;
    text-align: center;
    text-transform: capitalize;
    color: rgb(1, 146, 213);
    font-weight: 800;
}

.toggle_btn,
.t_toggle_btn {
    width: 9.6vw;
    background-color: #0165d0;
    font-size: 1.6vw;
    color: #cddbe0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    border: 2px solid #ffffff;
    transition: transform 0.6s ease;
    margin-left: calc(50% - 4.8vw);
}

.hidden_pic,
.t_hidden_pic {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

.hidden_pic.show,
.t_hidden_pic.show {
    max-height: 32vw;
    opacity: 1;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out, transform 0.5s ease;
}

.toggle_btn:hover,
.t_toggle_btn:hover {
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    transform: scale(1.02);
    color: #ffffff;
    cursor: pointer;
    transition: opacity 1s ease, height 1 ease-in-out;
}

@media (max-width: 650px) {

    /* start  heading section */

    .header {
        font-size: 1.8vw;
    }

    .links_list {
        width: 50vw;
    }

    .header img {
        width:8vw;
        height: 8vw;

    }

    .search_input {
        width: 18vw;
    }

    .search_button {
        padding: 1vw;
    }

    .search_button img {
        width: 2vw;
        height: 2vw;
    }






    
/* Section one start  */
.section_1 {
    text-align: center;
   flex-direction: column;
  justify-content: center;  
  margin: 150px 24vw;
    width: 52vw;
}

.media_txt {
    margin: auto auto 7vw auto;

}

.media_txt .txt_title {
    font-size: 6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    text-transform: capitalize;

}

.media_txt .txt_info {
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    margin: 1.07vw auto auto 1.6vw;

}

.section_1 .sec_1_pic img {
    width: 50vw;

}

/* 1st section end  */


/* v_i_s start */

.v_i_s_box {
    display: flex;
    height: 50vw;
    width: 99.24vw;
 padding-top: 15px;  
   flex-direction: column;
    margin: 0px 0px 1.4vw;
    box-shadow: 0px 0.54vw 0.54vw #CCC;
}

.v_i_s_box .v_i_s_img img {
    height: 32.17vw;
    width: 26vw;
    margin-left: 4.1vw;
    border-radius: 10px;
    box-shadow: 0px 0.43vw 1.07vw rgba(119, 194, 254, 0.3);
    transition: transform 0.5s ease;
}

.v_i_s_box .v_i_s_img img:hover {
    box-shadow: 0px 0px 0.804vw rgb(255, 255, 255);
    transform: scale(1.02);

}

.v_i_s_box .v_i_s_txt {
    height: 32.17vw;
    width: 30vw;
    margin-top: 2vw;

}

.v_i_s_box .v_i_s_txt .txt_v_i_s_txt {
    font-size: 1.6vw;
    color: aliceblue;
    margin: auto 1vw;
}

 /*  */

    .d_tracks_box,
    .a_tracks_box {
       flex-wrap: wrap;
    }
    
    .d_tracks_txt,
    .a_tracks_txt {
        text-align: center;
        margin: 2vw auto;
        font-size:3vw;
    }
    
    .d_tracks_content,
    .a_tracks_content {
        margin: 20px auto;
    }
    
    .d_tracks_content .d_tracks_content_pic,
    .a_tracks_content .a_tracks_content_pic {
        max-width: 50vw;
    }
    .d_tracks_content .d_tracks_content_pic img,
    .a_tracks_content .a_tracks_content_pic img {
        border-radius: 20px;
        width: 50vw;
        height:50vw;
    }
    
    .d_tracks_content .d_tracks_content_pic {
        font-size: 4vw;
        font-weight: 600;
    }
    
    .toggle_btn,
    .t_toggle_btn {
        width: 25vw;
        font-size:4vw;
        border-radius: 1.07vw;
        margin-left: calc(50% - 12vw);
    }
    
    
    .hidden_pic.show,
    .t_hidden_pic.show {
        max-height:52vw;
    }
}